Web/Fenius/src/main/resources/wsdl/ConnectionService/connection/faults.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           attributeFormDefault="unqualified"
           elementFormDefault="unqualified"
           targetNamespace="http://fenius.glif.is/ws/connection/v1/faults">

    <xs:complexType name="InternalFault">
        <xs:sequence>
            <xs:element name="message" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ExternalFault">
        <xs:sequence>
            <xs:element name="message" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
